<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joinbright.taskservice.mapper.master.InformationMapper">
    <insert id="insertAllUser">
        insert into tbl_system_user (guid, email, system_name, user_id, create_time)
        values
        <foreach item="user" collection="map" separator=",">
            (UUID(),#{user.email},'f1',#{user.logoId},now())
        </foreach>
        ;
    </insert>
    <update id="updateUser">
        <foreach item="user" collection="updateMap" separator=";">
            update tbl_system_user
            <set>
                email = #{user.email}
            </set>
            where user_id = #{user.logoId}
            and system_name = 'f1'
        </foreach>
    </update>
    <delete id="deleteUser">
        delete from tbl_system_user where system_name = 'f1' and email in
        <foreach item="userInfo" collection="deleteMap" separator="," open="(" close=")">
            #{userInfo.email}
        </foreach>
    </delete>
    <select id="getAllUsers" resultType="com.joinbright.taskservice.dto.SystemUserIdDTO">
        select guid        as guid,
               email       as email,
               system_name as systemName,
               user_id     as userId,
               create_time as createTime,
               update_time as updateTime,
               remark      as remark
        from tbl_system_user tsu
        where system_name = #{systemName};
    </select>
</mapper>